body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #ff7f50;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 0;
    font-size: 1.5em;
}

section {
    padding: 2em;
    text-align: center;
}

#couple .profile {
    display: inline-block;
    width: 45%;
    margin: 1em;
    vertical-align: top;
}

#couple img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#location {
    background-color: #ffe4e1;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 1em;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #ff7f50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.place{
    width: 100%;
}